/* In your CSS file (e.g., App.css) */

.hero {
    background-color:#220901;
    color: white;
    padding: 35px;
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }
  .hero-text h1 {
    color:#F6AA1C;
  }
  .hero-image {
    max-width: 40%; /* Adjust the width as needed */
    border-radius: 37px;
    height: 50%;
    margin-top: 40px;
  }
  
  .hero-text {
    max-width: 45%; /* Adjust the width as needed */
  }
  
  /* Additional styling for h1 and p elements can be added here */
  