/* In your NavBar.css file or your CSS file */

/* In your NavBar.css file or your CSS file */

nav {
    background-color: white;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Set the navigation bar as a fixed position */
    width: 100%; /* Make the navigation bar fill the entire width */
    top: 0; /* Place the navigation bar at the top of the screen */
    height: 70px;

  }
  
  /* ... (other styles) */
  
  
  .logo {
    display: flex; /* Make the logo a flex container */
    align-items: center; /* Center items vertically */
  }
  
  .logo img {
    width: 170px; /* Adjust the logo image size as needed (e.g., 100px) */
    margin-right: 0px; /* Add spacing between the logo and text */
    height: 90px;
  }
  
  .nav-links {
    list-style: none; /* Remove list bullet points */
    padding: 0;
    display: flex; /* Make the navigation links a flex container */
  }
  
  .nav-links li {
    margin-right: 45px; /* Add spacing between navigation items */

  }
  
  .nav-links a {
    text-decoration: none;
    color: #220901;
  }
  
  /* Style the social media icons */
  .nav-links img {
    width: 15px; /* Adjust the icon size as needed */
    margin-right: 5px; /* Add spacing between icons */
  }
  
  